<div id="content9">
    		<div class="row">
    			<div class="col-md-4 nopaddingnomargin">
    				<div class="image editable"><img src="https://lh3.googleusercontent.com/-z2dk0TjDGYU/WdK9DVqRW8I/AAAAAAAATlU/Lu7-k8raXXAwXdo7RxDIwZuZlK3LxRf9QCLcBGAs/s640-rj-e30-v2/1e.jpg"/></div>
					<div class="content">
    					<h3 class="editable" style="outline: none; cursor: inherit;">Design</h3>
    					<p class="editable" style="outline: none; cursor: inherit;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.</p>
    					<a href="#" class="editable" style="outline: none; cursor: inherit;">Read More</a>
					</div>
    			</div>
    			<div class="col-md-4 nopaddingnomargin">
    				<div class="image editable">
    				    <img src="https://lh3.googleusercontent.com/-DW7JLOFjnmw/WdK9DAmBovI/AAAAAAAATlQ/UcqBpb4JWv41dAblxaY6ZNeQKYYyIb2lgCLcBGAs/s640-rj-e30-v2/1d.jpg"/>
    				</div>
					<div class="content">
    					<h3 class="editable" style="">Development</h3>
    					<p class="editable" style="outline: none; cursor: inherit;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.</p>
    					<a href="#" class="editable" style="outline: none; cursor: inherit;">Read More</a>
					</div>
    			</div>
    			<div class="col-md-4 nopaddingnomargin">
    				<div class="image editable"><img src="https://lh3.googleusercontent.com/-M5wsYb1jCvU/WdK9Ch8LaWI/AAAAAAAATlE/Nez7MG3C7o49dJX2QCb_3zsh1RBHNGkdACLcBGAs/s640-rj-e30-v2/1a.jpg"/></div>
					<div class="content">
    					<h3 class="editable" style="">SEO</h3>
    					<p class="editable" style="">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.</p>
    					<a href="#" class="editable" style="">Read More</a>
					</div>
    			</div>
    		</div>
    	</div>

