<header class="masthead" style="background-image: url({{ site.data.masthead.background }});">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading" class="editable">Faster Campaign creation<br />better marketing</h1>
        <hr />
        <p class="editable">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger editable" href="#about">Launch Now</a>
      </div>
    </div>
  </header>